$navigation-background-color: #A6A4A6;
$navigation-text-color: #181426;
$canvas-main-bg-color: #181426;
$canvas-main-text-color: #F2F0F0;
$canvas-main-high-text-color: #F2B33D;

$max-width-canvas-body: 1300px;
$padding-titles: 2vw 3vw 0 3vw;