.navigation {
    background-color: lightyellow;
    .nav-links > li > a > img {
        width: 25px;
        height: auto;
        margin: 0.6vw
    }
    .name-intro > h2 {
        margin: 0.6vw;
        margin-right:1vw;
    }
    .title {
        margin: 0.6vw;
        margin-right:1vw;
        text-align: end;
    }
        .nav-tags {
            margin-right:0.6vw;
            margin-right:1vw;
            
            li {
                list-style-type: none;
                margin-top:4vh;
                width:100px;
                text-align: end;
            }
            a {
                color: black;
                font-size:1.2em;
                text-decoration: none;
            }
                li:hover {
                    a::after {
                        content: "-";
                        margin-right:5px;
                        position: absolute;
                        right:6vw;
                    }
                    a {
                        font-weight: bold;
                    }
                }
        }
    .contact-me {
        
        h3, li, p {
            margin:0.6vw;
        }
        li {
            list-style-type: none;
        }
        a {
            text-decoration: none;
            color:black;
        }
    }
}

#canvas {
    background-color: lightcoral;
    margin-left: 25%;

    #about-me,
    #knowledge {
        padding:5vh 1vw 0 1vw;
    }

    #about-me {
        h1 {
            padding:0 3vw;
            font-size:3rem;  
        }
        p {
            text-align: center;
            text-align: justify;
            padding:0 3vw;
        }
    }

    #knowledge {
        h2 {
            font-size:2rem;
        }

    }

    #my-plan {
        padding:0 1vw 0 1vw;
        h2 {
            padding:0 3vw;
            position: absolute;
            bottom:25vh;
            font-size:6rem;
        }
        p {
            padding:0 3vw;
        }
    }

}




