#navigation {
    width: 350px;
    background-color:#A6A4A6;
    color:#181426;
    font-family: 'Roboto Mono',
    monospace;
    .nav-links > li > a > img {
        width: 25px;
        height: auto;
        margin: 0.6vw;  
        padding-left:5px;
        padding-top:5px;
    }
    .nav-links > li {
            list-style-type: none;
    }
    .name-intro > h2 {
        margin: 0.6vw;
        margin-right:1vw;
        text-align: end;
    }
    .title {
        margin: 0.6vw;
        margin-right:1vw;
        text-align: end;
    }
        .nav-tags {
            margin-right:0.6vw;
            margin-right:1vw;
            
            li {
                list-style-type: none;
                margin-top:4vh;
                width:100px;
                text-align: end;
            }
            a {
                color:#181426;                
                font-size:1.2em;
                text-decoration: none;
            }
                li:hover {
                    a::after {
                        content: "-";
                        margin-right:5px;
                        position: absolute;
                        right:6vw;
                    }
                    a {
                        font-weight: bold;
                    }
                }
        }
    .contact-me {
        margin-bottom: 1.5vh;
        h3, li, p {
            margin:0.6vw;
            padding-left:5px;
        }
        li {
            word-wrap: break-word;
            list-style-type: none;
            font-weight: bold;
        }
        a {
            text-decoration: none;
            color:#181426;            
        }
    }
}

#canvas {
    margin-left: 350px;
    color:#F2F0F0;
    background-color: #181426;
    font-family: 'Roboto Mono',
    monospace;

    .about-me-container {
        width: 50%;
    }
    #about-me {
        padding:2vw 3vw 0 3vw;
        h1 {
            font-size:4rem;
        }

    }
    #knowledge {
        width: 50%;
        padding:2vw 3vw 0 3vw;
        h2 {
            font-size:3rem;
        }
        .skills {
            padding:1vw;
        }
        .card {
            background-color:#343140;
            ul > li {
                background-color:#343140;
            }
        }
    }
    @media (max-width: 1350px) {
        .card {
            width: 12rem !important;
        }
    }


    #my-plan {
        padding:0 1vw 0 1vw;
        padding:0 3vw;
        // margin-bottom:5vh;
        h2 {
            // position: absolute;
            // bottom:25vh;
            font-size:4rem;
        }
    }

    #work-main {
        #work-showcase-container .for-first-child:not(:first-child) {
            margin-top:3vh;
        }
        #work-showcase-container .for-first-child:last-child {
            margin-bottom:3vh;
        }
        .my-work-title {
            padding:2vw 3vw 0 3vw;  
            h2 {
                font-size:3rem;
            }
        }
        .work-showcase {
            :not(:first-child) .work-showcase {
                color:red;
            }
            h3 {
                padding:1vw 3vw 0 3vw;
                font-size:2rem;
            }
            width:55%;
            #carouselExampleIndicators {
                padding:3vw;
                padding-top:1vh;
                .carousel-control-prev-icon {
                    margin-left:25px !important;
                }
                .carousel-control-next-icon {
                    margin-right:25px !important;                    
                }
                .carousel-inner {
                    height:350px;
                }
            }
        }
        .work-showcase-dev {
            width:45%;
            padding-right:3vw;
            h4 {
                padding:1vw 3vw 0 0vw;
                font-size:2rem;
            }
            p {
                padding-top:1vh;
            }
            li {
                list-style-type:none;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    #navigation {
        width: 300px;
    }

    #canvas {
        margin-left: 300px;
        .techs {
            flex-direction: column;
            .skills {
                width:100% !important;
            }
            .card {
                width:100% !important;
                margin-left:auto;
                margin-right:auto;
            }
        }
    }
}

@media (min-width: 835px) and (max-width: 1024px) {
    #navigation {
        width: 250px;
        .contact-me {
            // li {
                
            // }
        }
    }

    #canvas {
        margin-left: 250px;
        
        .techs {
            flex-direction: column;
            .skills {
                width: 100% !important; 
            }
            .card {
               width:100% !important;
               margin-left:auto;
               margin-right:auto;
            }
        }
        .my-work-title {
            margin-top: 0;
        }

        #work-showcase-container {
            .work-showcase {
                width: 100%;
            }

            .work-showcase-dev {
                width: 100%;
                padding-left: 3vw;
                padding-right: 3vw;
            }
        }
    }
}

@media (max-width: 835px) {
    #navigation {
        width:230px;
    }

    #canvas {
        .about-me-container {
            width:100%;
        }
        margin-left: 230px;
        #about {
            width: 100% !important;
        }
        #about-me {
            width:100% !important;
        }
        #my-plan {
            width: 100% !important;
        }
        #knowledge {
            width: 100% !important;
        }

        .my-work-title {
            margin-top:6vh;
        }
        #work-showcase-container {
            .work-showcase {
                width:100%;
            }
            .work-showcase-dev {
                width:100%;
                padding-left:3vw;
                padding-right:3vw;
            }
        }

        #work-showcase-container .for-first-child:not(:first-child) {
            margin-top: 6vh;
        }
    }
}




