.body {
  background: rgb(53, 47, 77);
  background: linear-gradient(149deg, rgba(53, 47, 77, 1) 0%, rgba(24, 20, 38, 1) 37%, rgba(18, 15, 29, 1) 87%);
}

/* Extends for Navigation */
#navigation .nav-tags #nav-hide {
  background-color: #181426;
  color: #A6A4A6;
  padding: 0 !important;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  top: 30px;
  left: 50px;
  cursor: context-menu;
}
#navigation .nav-tags #nav-hide i.hide {
  position: relative;
  left: 4px;
}

/* ______________________ */
/* extends for canvas */
.canvasbutton #nav-show, #canvas .work-toggle-section #work-toggle {
  border-radius: 50%;
}
.canvasbutton #nav-show i, #canvas .work-toggle-section #work-toggle i {
  position: relative !important;
  list-style-type: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: context-menu;
}

#canvas #work-main #work-showcase-container .for-child:not(:first-child) {
  margin-top: 3vh;
}
#canvas #work-main #work-showcase-container .for-child:last-child {
  margin-bottom: 3vh;
}

/* __________________ */
/*** Graphic Design ***/
#graphic-design {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
#graphic-design .graphic-design-sec {
  padding: 4vh 3vw 0 3vw;
}
#graphic-design .graphic-squares-wrapper {
  padding: 0;
}
#graphic-design .graphic-squares {
  width: 50%;
}
#graphic-design .squares {
  margin: 15px 8px 0px 8px;
}
#graphic-design .squares img {
  display: block;
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

/* _________________ */
/*** Work Section Toggler ***/
#navigation {
  width: 350px;
  background-color: #A6A4A6;
  color: #181426;
  font-family: "Roboto Mono", monospace;
  max-width: 350px;
}

#navigation .nav-links > li > a > img {
  width: 3.2vw;
  max-width: 60px;
  height: auto;
  margin: 0.6vw;
  margin-bottom: 0.4vw;
  padding-left: 5px;
  padding-top: 5px;
}
#navigation .nav-links > li {
  list-style-type: none;
}
#navigation .name-intro > h2 {
  margin: 0.6vw;
  margin-right: 1vw;
  text-align: end;
}
#navigation .title {
  margin: 0.6vw;
  margin-right: 1vw;
  text-align: end;
}
#navigation .nav-tags {
  margin-right: 0.6vw;
  margin-right: 1vw;
}
#navigation .nav-tags #nav-hide:hover {
  background-color: #343140;
}
#navigation .nav-tags #nav-hide:active {
  width: 30px;
  height: 30px;
}
#navigation .nav-tags li {
  list-style-type: none;
  margin-top: 4vh;
  width: 100px;
  text-align: end;
}
#navigation .nav-tags a {
  color: #181426;
  font-size: 1.2em;
  text-decoration: none;
}
#navigation .nav-tags li:hover a::after {
  content: "-";
  margin-right: 3.5vw;
  position: absolute;
  right: 6vw;
}
#navigation .nav-tags li:hover a {
  font-weight: bold;
}
#navigation .contact-me {
  margin-bottom: 1.5vh;
}
#navigation .contact-me h3,
#navigation .contact-me li,
#navigation .contact-me p {
  margin: 0.6vw;
  padding-left: 5px;
}
#navigation .contact-me li {
  word-wrap: break-word;
  list-style-type: none;
  font-weight: bold;
}
#navigation .contact-me a {
  text-decoration: none;
  color: #181426;
}

.on {
  position: fixed;
  display: flex;
}

.off {
  display: none !important;
}

#canvas {
  color: #F2F0F0;
  font-family: "Roboto Mono", monospace;
  width: 100%;
  margin-left: 350px;
}

#about {
  max-width: 1300px;
  margin: 0 auto;
}

#work-main {
  max-width: 1300px;
  margin-right: auto;
}

.work-container {
  max-width: 1300px;
  margin: 0 auto;
}

#canvas .about-me-container {
  width: 50%;
}
#canvas #about-me {
  padding: 2vw 3vw 0 3vw;
}
#canvas #about-me h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}
#canvas #knowledge {
  width: 50%;
  padding: 2vw 3vw 0 3vw;
}
#canvas #knowledge .card-body {
  -ms-flex: 0 !important;
  flex: 0 !important;
}
#canvas #knowledge h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}
#canvas #knowledge .skills {
  padding: 1vw;
}
#canvas #knowledge .skills li {
  list-style-type: none;
}
#canvas #knowledge .card {
  background-color: #343140;
}
#canvas #knowledge .card ul > li {
  background-color: #343140;
}
@media (max-width: 1350px) {
  #canvas .card {
    width: 12rem !important;
  }
}
#canvas #my-plan {
  padding: 0 1vw 0 1vw;
  padding: 0 3vw;
}
#canvas #my-plan h2 {
  margin-bottom: 10px;
  font-size: 4rem;
}
#canvas .my-work-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
#canvas .my-work-title {
  padding: 2vw 3vw 0 3vw;
}
#canvas .my-work-title h2 {
  font-size: 3rem;
}
#canvas .work-toggle-section {
  padding: 2vw 3vw 0 3vw;
  display: flex;
}
#canvas .work-toggle-section h3 {
  padding-right: 15px;
}
#canvas .work-toggle-section #work-toggle {
  display: block !important;
  width: 40px;
  height: 40px;
}
#canvas .work-toggle-section #work-toggle i:hover {
  background-color: #343140;
}
#canvas .work-toggle-section #work-toggle i:active {
  width: 30px;
  height: 30px;
}
#canvas .work-toggle-section li#work-toggle {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
}
#canvas .work-toggle-section span {
  padding: 8px 0px 0px 15px;
}
#canvas #work-main .work-showcase {
  width: 55%;
}
#canvas #work-main .work-showcase h3 {
  padding: 4vh 3vw 0 3vw;
  font-size: 2rem;
  font-weight: 700;
  color: #F2B33D;
}
#canvas #work-main .work-showcase div.img-carousel {
  padding: 3vw !important;
  padding-top: 1vh !important;
}
#canvas #work-main .work-showcase div.img-carousel .carousel-control-prev-icon {
  margin-left: 25px !important;
}
#canvas #work-main .work-showcase div.img-carousel .carousel-control-next-icon {
  margin-right: 25px !important;
}
#canvas #work-main .work-showcase div.img-carousel .carousel-inner {
  max-height: 350px !important;
  width: auto !important;
}
#canvas #work-main .work-showcase-dev {
  width: 45%;
  padding-right: 3vw;
  padding-top: 2vh;
}
#canvas #work-main .work-showcase-dev h4 {
  padding: 1vw 3vw 0 0vw;
  font-size: 2rem;
}
#canvas #work-main .work-showcase-dev p {
  padding-top: 1vh;
  padding-bottom: 5px;
}
#canvas #work-main .work-showcase-dev li {
  list-style-type: none;
  padding-bottom: 7px;
}

.canvasbutton {
  margin-left: 0 !important;
}
.canvasbutton #about {
  max-width: 1300px !important;
  margin: auto;
}
.canvasbutton #work-main {
  max-width: 1300px !important;
  margin: auto;
}
.canvasbutton #nav-show {
  display: block !important;
  position: fixed;
  top: 50vh;
  left: 40px;
}
.canvasbutton #nav-show i:hover {
  background-color: #343140;
}
.canvasbutton #nav-show i:active {
  width: 30px;
  height: 30px;
}
.canvasbutton li#nav-show {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #navigation {
    width: 300px;
  }
  #navigation .nav-tags li:hover a::after {
    content: "-";
    margin-right: 5vw;
    position: absolute;
    right: 6vw;
  }
  #navigation .nav-tags li:hover a {
    font-weight: bold;
  }

  #canvas {
    margin-left: 300px;
  }
  #canvas .techs {
    flex-direction: column;
  }
  #canvas .techs .skills {
    width: 100% !important;
  }
  #canvas .techs .card {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1750px) {
  #about {
    max-width: 1250px;
  }

  #about-me h1 {
    margin-bottom: 20px !important;
  }

  #my-plan {
    padding-top: 80px !important;
  }
  #my-plan h2 {
    margin-bottom: 20px !important;
  }

  #knowledge h2 {
    margin-bottom: 20px !important;
  }

  .techs {
    padding-top: 40px;
  }

  .work-container {
    max-width: 1250px;
  }

  .my-work-wrapper {
    max-width: 1250px;
  }
}
@media (min-width: 835px) and (max-width: 1024px) {
  #navigation {
    width: 250px;
  }
  #navigation .nav-tags li:hover a::after {
    content: "-";
    margin-right: 5vw;
    position: absolute;
    right: 6vw;
  }
  #navigation .nav-tags li:hover a {
    font-weight: bold;
  }

  #canvas {
    margin-left: 250px;
  }
  #canvas .techs {
    flex-direction: column;
  }
  #canvas .techs .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  #canvas .techs .skills {
    width: 100% !important;
  }
  #canvas .techs .card {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }
  #canvas .my-work-title {
    margin-top: 0;
  }
  #canvas #work-showcase-container .work-showcase {
    width: 100%;
  }
  #canvas #work-showcase-container .work-showcase-dev {
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
@media (max-width: 835px) {
  #navigation {
    width: 230px;
  }
  #navigation .nav-tags li:hover a::after {
    content: "-";
    margin-right: 7.2vw;
    position: absolute;
    right: 6vw;
  }
  #navigation .nav-tags li:hover a {
    font-weight: bold;
  }

  #canvas {
    margin-left: 230px;
  }
  #canvas .about-me-container {
    width: 100%;
  }
  #canvas #about {
    width: 100% !important;
  }
  #canvas #about-me {
    width: 100% !important;
  }
  #canvas #my-plan {
    width: 100% !important;
  }
  #canvas #knowledge {
    width: 100% !important;
  }
  #canvas #knowledge .techs {
    flex-direction: column;
  }
  #canvas #knowledge .techs .skills {
    width: 100% !important;
  }
  #canvas #knowledge .techs .card {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }
  #canvas .my-work-title {
    margin-top: 6vh;
  }
  #canvas #work-showcase-container .work-showcase {
    width: 100%;
  }
  #canvas #work-showcase-container .work-showcase-dev {
    width: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  #canvas #work-showcase-container .for-first-child:not(:first-child) {
    margin-top: 6vh;
  }
}
body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
